<div class="row">
  <div class="col-md-12 title-block">
    <h2>Top Entries By Authority</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table>
      <thead>
        <th>Authority</th>
        <th>Total Number Entered</th>
        <th>See all schools in authority</th>
      </thead>
      <% @my_results_hash.each do |key, value| %>
        <tr>
          <td><strong><%= key %></strong> </td>
          <td><%= value %> </td>
          <td><%= link_to "CLICK HERE", institution_path(key) %></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>
